/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* -------------- MAIN SETTINGS --------------*/

body
{
	font-family: "Verdana", "Arial", sans-serif;
	background-color: white;
}



.mainHeader
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: auto;
	height: 150px;
	background-color: #B7CC5E;
}

#logoHeader
{
	width: 300px;
	height: 150px;
	padding-right: 100px;
	padding-top: 20px;
	padding-left: 20px;
}

.mainNav
{
	width: 500px;
	height: 60px;
	margin-top: 60px;
	margin-left: auto;
}

.mainNav ul
{
  list-style-type: none;
  padding: 5px 0px 5px 0px;
  list-style-type: none;
}

.mainNav ul li 
{  
  font-size: 17px;
  display: inline;
  cursor: pointer;
  margin-left: 50px;
}

.mainNav ul li a
{
  padding: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.title 
{
	font-size: 30px;
	font-weight: bold;
	padding: 15px 0 15px 50px;
	background-color: black;
	color: white;
}

.flex1
{
	display: flex;
	flex-flow: row-wrap;
	justify-content: space-around;
	padding: 100px 0 50px 0;
}

.flex2
{
	display: flex;
	flex-flow: row-wrap;
	justify-content: space-around;
	padding: 100px 0 50px 0;
}

.flex3
{
	display: flex;
	flex-flow: row-wrap;
	justify-content: space-around;
	padding: 100px 0 50px 0;
}

.flex4
{
	display: flex;
	flex-flow: row-wrap;
	justify-content: space-around;
	padding: 100px 0 100px 0;
}


.mainFooter
{
	height: 150px;
	width: auto;
	background-color: #FF7061;
}


.footerNav
{
	width: 500px;
	height: 60px;
	margin-left: auto;
	margin-bottom: 10px;
}

.footerNav ul
{
  list-style-type: none;
  padding: 70px 0px 5px 0px;
  list-style-type: none;
}

.footerNav ul li 
{  
  font-size: 17px;
  display: inline;
  cursor: pointer;
  margin-left: 50px;
}

.footerNav ul li a
{
  padding: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}


.copyright
{
	width: auto;
	height: 30px;
	text-align: right;
	padding-right: 50px;
	padding-top: 10px;
	background-color: black;
	color: white;
	font-family: arial;
	font-size: 17px;
	font-weight: bold;
}





















