/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* -------------- MAIN SETTINGS --------------*/

body
{
	font-family: "Verdana", "Arial", sans-serif;
	background-color: white;
	background-image:  url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.43' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.container
{
  width: 1024px;
  margin: 0 auto;
  background-color: white;
}

.mainHeader
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#logoHeader
{
	width: 500px;
	height: 300px;
	padding-right: 100px;
}

.mainNav
{
	width: 500px;
	height: 60px;
	margin-top: 60px;
	margin-left: auto;
}

.mainNav ul
{
  list-style-type: none;
  padding: 5px 0px 5px 0px;
  list-style-type: none;
}

.mainNav ul li 
{  
  font-size: 17px;
  display: inline;
  cursor: pointer;
  margin-left: 50px;
}

.mainNav ul li a
{
  padding: 5px;
  text-decoration: none;
  color: #FF7061;
  font-weight: bold;
}



.flex1
{
	width: 1024px;
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 0 70px 70px 0;
}

.flex2
{
	width: 1024px;
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 0 70px 70px 0;
}

.flex3
{
	width: 1024px;
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 0 70px 70px 0;
}

.flex4
{
	width: 1024px;
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 0 70px 70px 0;
}

.mainFooter
{
	height: 176px;
	width: 1024px;
	background-image: url(../images/footer_background.png) no-repeat bottom;
	padding-top: 100px;
}


.footerNav
{
	width: 500px;
	height: 60px;
	margin-top: 60px;
	margin-left: 270px;
}

.footerNav ul
{
  list-style-type: none;
  padding: 5px 0px 5px 0px;
  list-style-type: none;
}

.footerNav ul li 
{  
  font-size: 17px;
  display: inline;
  cursor: pointer;
  margin-left: 50px;
}

.footerNav ul li a
{
  padding: 5px;
  text-decoration: none;
  color: #FF7061;
  font-weight: bold;
}


.copyright
{
	padding-left: 740px;
	padding-top: 12px;
	color: black;
	font-family: arial;
	font-size: 17px;
	font-weight: bold;
}





















